/* 
h2 : orange text
button : blue background color
         white text
p : black background color
    white text
*/

h2 {
    color: orange;
}

button {
    background-color: blue;
    color: white;
}

p {
    background-color: black;
    color: white;
}