/* 
Implement the following CSS for the given html document.

路 Set font family of entire document to Courier New
路 Set text color for all h1 headings to #1b74e4.
路 Set background color of search button to black & text to white.
路 Set background color of login & register button to aqua.
*/

*{
    font-family: "Courier New";
}

h1{
    color: #1b74e4;
}

#searchbtn{
    background-color: black;
    color: white;
}

.userbtn{
    background-color: aqua;
}