/* 
Recreate the following elements using given css:

·  Create a div & 3 sibling divs inside it
· For the outer div set following styling
    height 200px, width 70px and border as 2px solid black color
· For the inner divs set following styling
    height 50px, width 50px and border as 2px solid black color
    also set a margin of 10px
    make inner divs circular in shape & given them individual colors (red, yellow & green)
*/

#outer {
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

.inner {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 100%;
}

#Circle1 {
    background-color: red;
}

#Circle2 {
    background-color: yellow;
}

#Circle3 {
    background-color: green;
}